{% extends 'base.html' %}
{% block content %}
  <div class="container text-center mt-5">
    <h1 class="mb-4 text-danger">TeachFlow</h1>
    <p class="lead text-muted mb-5">An AI-powered platform for generating, organizing, and managing full teaching-ready courses from raw content.</p>

    <div class="d-grid gap-3 col-6 mx-auto">
      <a href="/create" class="btn btn-red btn-lg">Create Project</a>
      <a href="/projects" class="btn btn-outline-danger btn-lg">My Projects</a>
    </div>
  </div>
{% endblock %}
